{{define "editarequipe.html"}}

{{template "_head.html"}}
{{template "_menu.html"}}

<div class="container mt-5">
  <h2 class="text-right border-bottom d-flex justify-content-between py-2">
    Equipes
    <a href="/equipes" class="btn btn-secondary btn-sm d-flex align-items-center"> Voltar</a>
  </h2>

  <div class="row d-flex justify-content-center">
    <div class="col-md-9  d-flex justify-content-around">



      <div class="container mt-3">
        <div class="row">

          <div class="col-md-5">
            <h3 class="text-center">Editar</h3>



            <form action="update" method="POST">
              {{range .equipe}}
              <input type="hidden" name="id" value="{{.Id}}">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" name="nome" value="{{.Nome}}" id="nome" placeholder="" class="form-control">
              </div>
              <div class="mb-3">
                <label for="cor" class="form-label">Cor</label>
                <input type="color" name="cor" value="{{.Cor}}" id="cor" class="form-control">
              </div>

              <div class="mb-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary btn-sm">Editar</button>
              </div>

              {{end}}
            </form>

          </div>


        </div>
      </div>


    </div>
  </div>
</div>
</div>

{{end}}