{{define "exibeprovas.html"}}

{{template "_head.html"}}
{{template "_menu.html"}}

<div class="container mt-5">
  <h2 class="text-right border-bottom d-flex justify-content-between py-2">
    Provas
    <a href="/" class="btn btn-secondary btn-sm d-flex align-items-center"> Voltar</a>
  </h2>

  <div class="row d-flex justify-content-center">
    <div class="col-md-12  d-flex justify-content-around">



      <div class="container mt-3">
        <div class="row">
          <div class="col-md-9">
            <h3 class="text-center">Lista</h3>




            <table id="example" class="table table-hover" style="width:100%">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">1° Pontos</th>
                  <th scope="col">2° Pontos</th>
                  <th scope="col">3° Pontos</th>
                  <th scope="col">4° Pontos</th>
                  <th scope="col">Ação</th>
                </tr>
              </thead>

              <tbody>
                {{range .provas}}
                <tr>
                  <td scope="row">{{.Id}}</td>
                  <td style="width:30%">{{.Descricao}}</td>
                  <td class="text-center">{{.Pontosprimeiro}}</td>
                  <td class="text-center">{{.Pontossegundo}}</td>
                  <td class="text-center"> {{.Pontosterceiro}}</td>
                  <td class="text-center"> {{.Pontosquarto}}</td>
                  <td class="text-center">
                    <a href="/provas/edit?id={{.Id}}" class="btn btn-warning btn-sm me-1">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                    <button onclick="onDelete('{{.Id}}')" class="btn btn-danger btn-sm">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                {{end}}
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">1° Pontos</th>
                  <th scope="col">2° Pontos</th>
                  <th scope="col">3° Pontos</th>
                  <th scope="col">4° Pontos</th>
                  <th scope="col">Ação</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- DataTables JS -->
          <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

          <!-- Ativando tabela-->
          <script>
            $("#example").DataTable()
          </script>
          <script>



            function onDelete(id) {
              resposta = confirm("Tem certeza que deseja deletar essa equipe?")
              if (resposta) {
                window.location = "/provas/delete?id=" + id
              }
            }
          </script>

          <div class="col-md-3">
            <h3 class="text-center">Cadastrar</h3>

            <form action="provas/insert" method="POST">
              <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" name="descricao" id="descricao" placeholder="" class="form-control">
              </div>
              <small class="w-100 bg-info py-2 px-5 mb-4 rounded-top" style="">Pontuações</small>
              <div class="mb-3 mt-3">
                <label for="pontosprimeiro" class="form-label">Primeiro Colocado</label>
                <input type="number" name="pontosprimeiro" id="pontosprimeiro" class="form-control">
              </div>
              <div class="mb-3">
                <label for="pontossegundo" class="form-label">Segundo Colocado</label>
                <input type="number" name="pontossegundo" id="pontossegundo" class="form-control">
              </div>
              <div class="mb-3">
                <label for="pontosterceiro" class="form-label">Terceiro Colocado</label>
                <input type="number" name="pontosterceiro" id="pontosterceiro" class="form-control">
              </div>
              <div class="mb-3">
                <label for="pontosquarto" class="form-label">Quarto Colocado</label>
                <input type="number" name="pontosquarto" id="pontosquarto" class="form-control">
              </div>
              <div class="mb-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
              </div>
            </form>

          </div>


        </div>
      </div>


    </div>
  </div>
</div>
</div>
{{template "_footer.html"}}
{{end}}